botocore>=1.19.0  # from collection amazon.aws,user
boto3>=1.16.0  # from collection amazon.aws,user
boto>=2.49.0  # from collection amazon.aws,user
ansible-pylibssh>=0.2.0  # from collection ansible.netcommon,cisco.asa
jxmlease  # from collection ansible.netcommon
ncclient  # from collection ansible.netcommon
netaddr  # from collection ansible.netcommon,ansible.utils,user
paramiko==2.8.1  # from collection ansible.netcommon,cisco.asa
xmltodict  # from collection ansible.netcommon,ansible.utils,azure.azcollection
jsonschema==3.2.0  # from collection ansible.utils
textfsm  # from collection ansible.utils
ttp  # from collection ansible.utils
pytz  # from collection awx.awx
python-dateutil>=2.7.0  # from collection awx.awx
awxkit  # from collection awx.awx
packaging  # from collection azure.azcollection
requests>=2.4.2  # from collection azure.azcollection,google.cloud,redhatinsights.insights,theforeman.foreman
azure-cli-core==2.26.1  # from collection azure.azcollection,user
azure-common==1.1.11  # from collection azure.azcollection,user
azure-identity==1.7.0  # from collection azure.azcollection
azure-mgmt-apimanagement==0.2.0  # from collection azure.azcollection,user
azure-mgmt-authorization==0.51.1  # from collection azure.azcollection,user
azure-mgmt-batch==5.0.1  # from collection azure.azcollection,user
azure-mgmt-cdn==3.0.0  # from collection azure.azcollection,user
azure-mgmt-compute==10.0.0  # from collection azure.azcollection,user
azure-mgmt-containerinstance==1.4.0  # from collection azure.azcollection,user
azure-mgmt-containerregistry==2.0.0  # from collection azure.azcollection,user
azure-mgmt-containerservice==9.1.0  # from collection azure.azcollection,user
azure-mgmt-datalake-store==0.5.0  # from collection azure.azcollection,user
azure-mgmt-dns==2.1.0  # from collection azure.azcollection,user
azure-mgmt-keyvault==1.1.0  # from collection azure.azcollection,user
azure-mgmt-marketplaceordering==0.1.0  # from collection azure.azcollection,user
azure-mgmt-monitor==3.0.0  # from collection azure.azcollection,user
azure-mgmt-managedservices==1.0.0  # from collection azure.azcollection,user
azure-mgmt-managementgroups==0.2.0  # from collection azure.azcollection,user
azure-mgmt-network==12.0.0  # from collection azure.azcollection,user
azure-mgmt-nspkg==2.0.0  # from collection azure.azcollection,user
azure-mgmt-privatedns==0.1.0  # from collection azure.azcollection,user
azure-mgmt-redis==5.0.0  # from collection azure.azcollection,user
azure-mgmt-resource==10.2.0  # from collection azure.azcollection,user
azure-mgmt-rdbms==1.9.0  # from collection azure.azcollection,user
azure-mgmt-search==3.0.0  # from collection azure.azcollection,user
azure-mgmt-servicebus==0.5.3  # from collection azure.azcollection,user
azure-mgmt-sql==0.10.0  # from collection azure.azcollection,user
azure-mgmt-storage==11.1.0  # from collection azure.azcollection,user
azure-mgmt-trafficmanager==0.50.0  # from collection azure.azcollection,user
azure-mgmt-web==0.41.0  # from collection azure.azcollection,user
azure-nspkg==2.0.0  # from collection azure.azcollection,user
azure-storage==0.35.1  # from collection azure.azcollection,user
msrest==0.6.21  # from collection azure.azcollection
msrestazure==0.6.4  # from collection azure.azcollection
azure-keyvault==1.0.0a1  # from collection azure.azcollection,user
azure-graphrbac==0.61.1  # from collection azure.azcollection,user
azure-mgmt-cosmosdb==0.5.2  # from collection azure.azcollection,user
azure-mgmt-hdinsight==0.1.0  # from collection azure.azcollection,user
azure-mgmt-devtestlabs==3.0.0  # from collection azure.azcollection,user
azure-mgmt-loganalytics==1.0.0  # from collection azure.azcollection,user
azure-mgmt-automation==0.1.1  # from collection azure.azcollection,user
azure-mgmt-iothub==0.7.0  # from collection azure.azcollection,user
azure-mgmt-recoveryservices==0.4.0  # from collection azure.azcollection,user
azure-mgmt-recoveryservicesbackup==0.6.0  # from collection azure.azcollection,user
azure-mgmt-notificationhubs==2.0.0  # from collection azure.azcollection,user
azure-mgmt-eventhub==2.0.0  # from collection azure.azcollection,user
openshift>=0.6.2  # from collection community.kubernetes,user
requests-oauthlib  # from collection community.kubernetes,kubernetes.core
pyVmomi>=6.7  # from collection community.vmware
git+https://github.com/vmware/vsphere-automation-sdk-python.git ; python_version >= '2.7'  # Python 2.6 is not supported  # from collection community.vmware
google-auth  # from collection google.cloud,user
kubernetes>=12.0.0  # from collection kubernetes.core,user
jsonpatch  # from collection kubernetes.core
openstacksdk>=0.13  # from collection openstack.cloud
ovirt-engine-sdk-python>=4.4.11  # from collection ovirt.ovirt
ipaddress  # from collection theforeman.foreman
urllib3  # from collection user
ansible-builder  # from collection user
python3-ldap  # from collection user
azure-cli-telemetry  # from collection user
azure-core  # from collection user
azure-mgmt-core  # from collection user
azure-mgmt-datalake-nspkg  # from collection user
dnspython  # from collection user
google-cloud-storage  # from collection user
google-api-python-client  # from collection user
passlib  # from collection user